<!DOCTYPE html>
<html>
  <head>
    <title>Hinny</title>
    <%= csrf_meta_tags %>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
  </head>

  <body>
    <%= render "shared/nav" %>

    <div class="container">
      <%= image_tag "logo.png", id: "logo", alt: "Hinny logo - understanding the Asset Pipeline" %>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>


    <%= javascript_include_tag 'application' %>
  </body>
</html>
